services:
  auth_service:
    build: 
      context: ./auth_service
      args:
        BUILDKIT_INLINE_CACHE: 0
    volumes:
      - ./auth_service:/app
    ports:
      - "9000:9000"
    environment:
      - DEBUG=1
      - SECRET_KEY=django-insecure-auth-service-7y_z@(1wz*@bpj=m*_z3u*u2e9h82t*5d@e6k6^s1b6m
      - JWT_SECRET_KEY=secure-jwt-secret-key-for-auth-tokens-7y_z@(1wz*@bpj=m*_z3u*u2e9h82t*5d
      - DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1] auth_service *
      - SQL_ENGINE=django.db.backends.postgresql
      - SQL_DATABASE=microservices_db
      - SQL_USER=postgres
      - SQL_PASSWORD=postgres
      - SQL_HOST=db
      - SQL_PORT=5432
      - USERS_SERVICE_URL=http://users_service:8000
    depends_on:
      - db

  users_service:
    build: 
      context: ./users_service
      args:
        BUILDKIT_INLINE_CACHE: 0
    volumes:
      - ./users_service:/app
    ports:
      - "9002:9002"
    environment:
      - DEBUG=1
      - SECRET_KEY=django-insecure-h0m%rz_qg@mj+^)_vxh3zp=wq+=4$$%rl-4n!b9u4^f8=r@u)2k
      - JWT_SECRET_KEY=secure-jwt-secret-key-for-auth-tokens-7y_z@(1wz*@bpj=m*_z3u*u2e9h82t*5d
      - DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1] users_service *
      - SQL_ENGINE=django.db.backends.postgresql
      - SQL_DATABASE=microservices_db
      - SQL_USER=postgres
      - SQL_PASSWORD=postgres
      - SQL_HOST=db
      - SQL_PORT=5432
      - AUTH_SERVICE_URL=http://auth_service:9000
    depends_on:
      - db
      - auth_service

  posts_service:
    build: 
      context: ./posts_service
      args:
        BUILDKIT_INLINE_CACHE: 0
    volumes:
      - ./posts_service:/app
    ports:
      - "9001:9001"
    environment:
      - DEBUG=1
      - SECRET_KEY=django-insecure-h0m%rz_qg@mj+^)_vxh3zp=wq+=4$$%rl-4n!b9u4^f8=r@u)2k
      - JWT_SECRET_KEY=secure-jwt-secret-key-for-auth-tokens-7y_z@(1wz*@bpj=m*_z3u*u2e9h82t*5d
      - DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1] posts_service *
      - SQL_ENGINE=django.db.backends.postgresql
      - SQL_DATABASE=microservices_db
      - SQL_USER=postgres
      - SQL_PASSWORD=postgres
      - SQL_HOST=db
      - SQL_PORT=5432
      - AUTH_SERVICE_URL=http://auth_service:9000
      - USERS_SERVICE_URL=http://users_service:9002
    depends_on:
      - db
      - auth_service
      - users_service

  db:
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=microservices_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5435:5432"

volumes:
  postgres_data:

networks:
  default:
    driver: bridge 